/* Buffers */
.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
    position: relative;
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 20px;
    
}

.thumbnail h3 {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: .3em;
}

.thumbnail-inner {
    padding: 20px 10px 4px;
    
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #b3f1f3;
}

.text-muted {
    text-align: center;
    margin-top: auto;
}

a {
    color: #2E2F30;
}

.btn-success {
    margin-bottom: 10px;    
}
